<p>
    Adobe Romania este cel mai mare centru de cercetare si dezvoltare Adobe din EMEA.
    Cu peste 700 de angajati, compania lucreaza la unele dintre cele mai cunoscute produse Adobe, cum ar fi Adobe XD, Adobe Experience Manager, Adobe Target sau Adobe Analytics.
    <br><br>
    Adobe Romania sustine studentii passionati de tehnologie, pregatind diverse evenimente si workshopuri. Acestea au ca scop aprofundarea limbajelor de programare, dar si a tehnologiilor de ultima generatie, folosite chiar de catre angajatii companiei. Workshopurile sunt interactive si permit participantilor sa aplice in mod practic aceste cunostinte, prin dezvoltarea unor aplicatii reale.
    <br><br>
    Diversitatea si incluziunea sunt unele dintre obiectivele principale ale Adobe, astfel compania investind in programe si evenimente interne ce au ca scop crearea unui mediu de lucru cat mai confortabil si deschis pentru angajatii sai. Adobe Romania ofera oportunitati egale tuturor angajatilor si ii sustine in dezvoltarea profesionala si a carierei.
    <br><br>
    <img src="/companies/media/adobe/poster.jpg" width="100%">
</p>