American Greetings is one of the biggest greetings producers and e-commerce sellers in the world, we are the 2nd
largest creative studio after Walt Disney. We commercialize printed cards in chain stores and e-cards on sites:
americangreetings.com, jacquielawson.com, bluemountain.com and other apps.
<br><br>
American Greetings RO is the excellence IT Center of American Greetings US – agdigital.
<br><br>
Areas: Web Development and Mobile Apps, SAP Development, Database Management, Infrastructure Engineering, DevOps, Networking and Security
<br><br>
Technologies: Java, Python, Android SDK, Objective C, Swift, Angular, Python, HTML5, Javascript, CSS3, SpringBoot, MVC, SAP ABAP, OOP, BAPI, BADI, Cloud DWH, ETL, SQL/PLSQL, Oracle, Big Data, Couchbase,  Qlikview, Microsoft O360, Azure, CISCO, LINUX, AWS Web Services, Fotinet, Pure Storage, Docker, VMware
<br><br>
Ag Internship gives you the chance to experience a friendly environment, dedicated mentors and real projects development in the technologies you want for 3 months. We have at least 1 place in every area from the above
<br><br>
We are experienced in training and developing young graduates and offering them a clear career path in the field of software programming. You can choose to stay with us in a Part-time/Full Time job after the Internship.
<br><br>
Join AG Universe and shine like a star! You’ll find a friendly place at hand to land and grow!
<br><br>
Apply: <a href="mailto:cariere.ro@ag.com">cariere.ro@ag.com</a>
<br><br>
<img src="companies/media/american_greetings/launch-your-career_final.jpg" style="width: 100%">