<p>
Autodesk, Inc. makes software for people who make things. We are a global leader in design and make software for architecture, engineering, construction, media and entertainment, and manufacturing industries. If you’ve ever driven a high-performance car, admired a towering skyscraper, used a smartphone, or watched a great film, chances are you’ve experienced what millions of Autodesk customers have built with our software.
</p>
<p>
Autodesk software helps users unlock their creativity and solve important design and make, business, environmental, and societal challenges, pushing the boundaries of AEC (architecture, engineering, and construction), manufacturing, and M&E (media and entertainment).
</p>

<strong><u>Company Facts</u></strong>
<ul>
    <li>Founded: 1982</li>
    <li>Headquarters: San Rafael, California</li>
    <li>Employees: 10,300+ employees worldwide (2020)</li>
    <li>Main products: AutoCAD®, BIM 360®, Civil 3D®, Fusion 360™, InfraWorks ®, Inventor®, Maya®, PlanGrid, Revit®, Shotgun™, 3ds Max®; see a comprehensive list of products at autodesk.com/products</li>
    <li>Recognition: Ranked fifth on Corporate Knights' 2020 index of the world's most sustainable corporations and received a perfect score on the HRC Corporate Equality Index in 2019.</li>
</ul>
