<h4>Scurta descriere a companiei</h4>
certSIGN este o companie specializată în dezvoltarea și implementarea de aplicații software pentru securitatea informațiilor, precum și în furnizarea de servicii dedicate protecției sistemelor informatice.
Prin departamentul Cercetare & Inovare suntem implicați activ în cercetarea și inovarea de noi algoritmi criptografici.
<br><br>
<h4>Criterii de selecție:</h4>
<ul>
    <li>Student sau absolvent de informatică, automatică, electronică sau similare</li>
    <li>Cunoașterea unor teorii, algoritmi sau modele matematice aplicate în domeniul criptografiei (algoritmi criptografici, teoria numerelor, teoria curbelor eliptice, algebra corpurilor, etc.)</li>
    <li>Capabilități de descriere și documentare a activității și realizare de activități specifice proiectelor de cercetare</li>
    <li>Abilități de comunicare și lucru în echipă</li>
</ul>
<h4>Ce ai învăța și ce ai face:</h4>
Studenții vor fi implicați în activitățile specifice Departamentului de Cercetare si Inovare, iar pe parcursul programului de internship vor primi taskuri individuale și vor putea dezvolta proiecte specifice. În funcție de proiectul în care vei fi implicat, poți lucra cu una sau mai multe din următoarele tehnologii: criptografie homomorfică, scheme avansate de autentificare, pseudoanonimity, delegarea autentificării, remote identity și altele.
<br><br>Activități principale:
<ul>
    <li>Familiarizarea cu proiectele și metodologia de lucru</li>
    <li>Implicarea împreună cu echipa de Cercetare & Inovare la realizarea prototipurilor software care au la bază modelele matematice dezvoltate, în vederea validării acestora</li>
</ul>
<h4>Alte informații:</h4>
Internshipul se desfășoară pe perioada vacanței de vară, iulie - septembrie cu posibilitatea angajării ulterioare. Procedura de selecție constă într-un interviu tehnic. Programul poate fi atât part-time cât și full time.