certSIGN este o companie românească care dezvoltă produse și servicii destinate asigurării securității și protejării informațiilor, în următoarele domenii:
<br>
<ul>
    <li>Servicii de încredere (semnătură electronică calificată, marcare temporală, certificate SSL)</li>
    <li>Securitate cibernetică</li>
    <li>Identitate digitală</li>
    <li>Arhivare fizică și electronică.</li>
</ul>

Avem o echipă calificată de experți cu numeroase certificări și competențe tehnice solide, dovedite în proiecte importante de realizare și implementare a unor soluții complexe de securitate a informațiilor, în proiecte de cercetare și dezvoltare, de consultanță și de audit. Spiritul inovator este principala noastră calitate, majoritatea soluțiilor companiei fiind produse proprietare dezvoltate intern.
<br><br>
Suntem lider pe piața semnăturilor electronice în România. Suntem pionieri al tahografului digital în România și furnizor de soluții de tahograf digital în 20 de țări din Europa și Asia.
<br>Suntem singurul furnizor de soluții PKI și de criptare a datelor din România.
<br>Suntem mândrii să fim certSIGN!
<br><br>

<img width="100%" src="/companies/media/certSign/Poza_internship.png">

<!--Posturi disponibile:
<ul>
    <li>Dezvoltator Software Junior (70% lucru în afara țării)</li>
    <li>Dezvoltator Software Junior - Java</li>
    <li>Dezvoltator Software Junior - C++</li>
    <li>Dezvoltator Software Junior - .Net</li>
    <li>Dezvoltator Software Junior - Android</li>
    <li>Dezvoltator Software Junior - iOS</li>
    <li>Dezvoltator Software Junior - Baze de date</li>
    <li>Dezvoltator Software Junior - Blockchain</li>
</ul>
<br>
Internship-uri:
<ul>
    <li>Cercetare și Dezvoltare Software în zona criptografică</li>
    <li>Specialist Implementare</li>
    <li>Specialist Implementare și Suport Soluții Mobile</li>
    <li>Tester Software</li>
    <li>SOC Analyst Level 1 – Cybersecurity</li>
</ul>
-->
<br>
Toate detaliile despre posturile și internship-urile disponibile sunt în secțiunea Cariere a site-ului nostru, la adresa: <a href="https://www.certsign.ro/ro/cariera">www.certsign.ro/ro/cariera</a>
<br><br>
Vă invitam sâmbătă, 6 martie, ora 13:00, să vă întâlniți cu echipa certSIGN prin intermediul Teams, unde ne veți putea adresa întrebările voastre.
