Imagine, Deliver & Run the future!
<br><br>
Our Bucharest Studio is home to over 500 brilliant #engineers, #developers, #designers and #testers who come together in #agile feature teams, serving some of the biggest businesses and brands in the world.
<br><br>
We IMAGINE new ways to drive the positive impact of #technology. We DELIVER and RUN software solutions to our client's challenges, pushing the limits of #innovation and having a blast doing it!
<br><br>
Find out more about our story HERE.
<br><br>
We're planning to #award those of you who join our session and engage with us in some fun activities. What's on the table? A smartwatch #Fitbit Sense, headphones #JBL Under Armour Flash, a #Samsung Battery Pack and some extra-surprises :)
<br><br>
See you then!
