All the facts and figures that speak of our size and diversity and years of history, as notable and important as they may be, are but secondary to the truest measure of Deloitte: the impact we make in the world.
<br><br>
With over 25 years of hard work and commitment to making a real difference in the Romanian market, our organization has grown in scale and diversity - over 1,700 people providing audit, tax, legal, financial advisory, risk advisory, and consulting services – yet our shared culture remains the same. For us, good isn’t good enough. We aim to be the best at all that we do to help clients accomplish their goals; to make a positive impact in society; and to maximize the success of our people.
<br><br>
Deloitte Romania can be the starting point of a journey that will connect you with the business world. We give you the means and the know-how, while you have the inspiration and enthusiasm. You're in charge of your career. Start here and explore where and how far you can go.
<br><br>
And if this didn’t convinced you all the way, we can tell you that Deloitte Romania is the top option for those who want to work in Professional Services, according to a study by Catalyst Solutions –“Most Desired Employers 2020” Pretty cool, huh? :)
<br><br>
Do you need extra info or already want to apply for Deloitte Romania? Then you can contact Raluca, our colleague  responsible with juniors recruitment at <a href="mailto:ipauna@deloittece.com">ipauna@deloittece.com</a>
<br><br>
<h3>Job openings</h3>
Are you looking for a great start in your career?
<br>Apply for one (or more) of our openings dedicated to students from Faculty of Mathematics & Computer Science:
<br><br>
<ul>
    <li>Junior IT Auditor - <a href="https://bit.ly/3uIBwPd">https://bit.ly/3uIBwPd</a></li>
    <li>Junior Auditor - <a href="https://bit.ly/3dVpHPS">https://bit.ly/3dVpHPS</a></li>
    <li>Associate | Valuation & Modeling – <a href="https://bit.ly/3q4rftd">https://bit.ly/3q4rftd</a></li>
    <li>Risk Quantitative Analyst - <a href="https://bit.ly/3dVQtb1">https://bit.ly/3dVQtb1</a></li>
</ul>
If you are a student in your last year of study (either studying for bachelor or master degree), we have great news for you.
<br>Deloitte Romania is growing its team and we are looking for ambitious and talented new colleagues!
<br><br>
Apply to one of the available openings @Deloitte and discover the countless learning and professional development opportunities that our company offers.