As the tech firm that created the mobile world, and with more than 54,000 patents to our name, we’ve made it our business to make a mark. When joining us at Ericsson, you have a unique opportunity to be the one. You are becoming part of the team that’s shaping the next innovation platform, right here and now.
<br><br>
A place where you won’t develop for the status quo, but will build what will replace it. Where you’re empowered to lead and perform at your best.
<br><br>
Where you shape technology for people, societies, industries and humanity. Where you collaborate across disciplines, borders and continents.
<br><br>
Our people lead our quest, so the opportunity is open: be an explorer, a change maker, or a life saver. A climate hero or a creative. Be part of the team.
<br><br>
Be the one who did. Be where it begins.