<p>
    <br><br>
    ESSENSYS îți oferă șansa de a fi dezvoltator software într-o companie care investește în oamenii săi. Dacă eşti student în ultimul an sau proaspăt absolvent al unei facultăți tehnice şi vrei să înveți să programezi pe bune, atunci vino în Academia de Software!
    <br><br>
    Academia de Software este un program intensiv de dezvoltare profesională susținut de Essensys Software prin care le oferim studenților din facultățile tehnice șansa de a învăța cele mai noi tehnologii din domeniu și de avea un prim job ca programator.
    <ul>
        <li>Training intensiv de 2 luni;</li>
        <li>Vei fi plătit și pe perioada trainingului;</li>
        <li>NU este doar un program de internship. Este un job;</li>
        <li>Dedicat studenţilor în ultimul an şi absolvenţilor de facultate cu profil tehnic;</li>
        <li>Program flexibil, adaptat orarului de la facultate;</li>
        <li>NU este necesară o experienţă de lucru anterioară;</li>
        <li>Sunt necesare cunoştinţe de programare de bază;</li>
        <li>Înveţi de la oameni cu foarte multă experienţă în proiecte reale!</li>
        <li>Informații complete și detalii despre aplicare găsești aici: <a href="https://www.academiadesoftware.ro">www.academiadesoftware.ro</a>.</li>
    </ul>
    <br><br>
    ESSENSYS Software | Quality software. On time. Every time.
    <br><br>
    Essensys este un furnizor premium de soluții software și servicii end-to-end. Pe lângă web, cloud și mobile, portofoliul nostru de servicii include și GIS. O îmbinare strategică de competențe tehnice care ne oferă o poziție privilegiată în piață, fiind printre puținii furnizori de software care pot oferi soluții integrate ce cuprind aplicații mobile, cloud și GIS.
    <br><br>
    Cu o experiență excelentă la nivel internațional, Essensys Software furnizează soluții software de complexitate ridicată pentru unele dintre cele mai mari companii din lume, precum Microsoft, ING, BCR Erste, Xerox, Decathlon, Aviva, Reuters.
    <br><br>
    Află mai multe despre noi pe <a href="https://www.essensys.ro">www.essensys.ro</a>.
    <br><br>
</p>