LSEG (London Stock Exchange Group) is more than a diversified global financial markets infrastructure and data business. With extensive experience, deep knowledge and worldwide presence across financial markets, we enable businesses and economies around the world to fund innovation, manage risk and create jobs.
<br><br>
Our acquisition of Refinitiv means we can provide the breadth and depth of financial data and best-in- class analytics that customers expect – driving innovation and growth across global markets. And our high-performance solutions help to enhance the performance of our customers.
<br><br>
The LSEG Technology and Operations Hub in Bucharest employs professionals to cover a wide range of technology, web services and corporate function roles meant for research and development. We are proud to say that we are a team of 300+ colleagues in Bucharest, continuing to grow in 2021.
<br><br>
We are a hub with a dynamic international financial ecosystem, where no two days are ever alike and the place to learn new skills and shape your future.
<br><br>
Visit our stand to network with some of our colleagues and learn more about our student career opportunities. Our student programmes offer an opportunity for hands-on exposure to a wide range of technologies such as Java, C++, Python, SQL, AWS and others.
<br><br>
Learn more about our Graduate and Internship opportunities at www.lseg.com/graduates
Apply online at <a href="https://bit.ly/3pUOuqE">bit.ly/3pUOuqE</a>
<br><br>
You are the future. Join us in building it!