SBP Romania provides custom software development services to a series of international customers. The variety of software projects they work on gives their colleagues the #opportunity to experiment with various technologies and sharpen their skills.
<br><br>
Thanks to the #flexible work hours, everyone can work during those times of day when they feel most comfortable and can juggle efficiently with daily activities (faculty, family, job, Netflix & chill). When someone needs to recharge their batteries, they just "pull over" into their #nap rooms.
<br><br>
Developing glorious software using several platforms & languages (including but not limited to .NET / C++ / Java / Swift / Angular) is what you'll get to do regularly if you're willing to learn new things @ SBP.
<br><br>
Think you can fit right in? Come to Cariere v1Online and have a chat with #SBP! We will be on Microsoft Teams on 7th of March, between 12:00-13:00. See you there!
<br><br>
<img src="companies/media/sbp/imagine.jpeg" width="100%">