Softbinator is more than a technology company, it is a concept that has been taking shape since 2011. Our focus is on developing innovative products with customers from around the world. We want to prove that Romanian programmers are one of the most important forces of digital transformation.
<br><br>
We are all about cutting-edge technologies. Together with global clients (USA, Europe, Asia), we work using the latest versions of Angular, React, Java, .Net, NodeJS, Flutter, Kotlin, Swift. We have expertise in Blockchain, AI / ML, and build scalable architectures in Cloud, using the latest DevOps tools.
<br><br>
We started Softbinator Labs to help young talents start their future career as Developers. Embark on our IT program journey, and let’s start building tech for humanity together!
Are you passionate about technology? Are you a university or masters student at a technical university? Are you located in Bucharest? Are you an advanced English speaker? If you tick all the boxes, you must apply now and start your career path at Softbinator!
What technologies will you work with?
● .Net - 6 weeks;
● Java - 6 weeks;
● Frontend (Angular and React) - 6 weeks.
You will have the opportunity of choosing to learn your favorite technology between the three, on a period of 6 weeks (2 coding sessions per week). The course will be followed by an individual project submitted by each candidate.
<br><br>
At the end of the Softbinator Labs, you will be graded based on your activity during the course and how much you impress on the individual project. The best candidates will be interviewed by HR, and job offers will be announced in June.
Where to apply?
We cannot wait to welcome you to our team! Please submit your application here until 25th of March.
https://www.softbinator.com/labs.
We are looking forward to hearing from you!