Stone Soup Tech, a global software development company, is currently looking for passionate developers to fill in the .net, mobile, back-end, QA and assistant manager open positions, working from the Bucharest office.
<br><br>
If YOU want to:
<br><br>
<ul>
    <li>Work on challenging and innovative projects;</li>
    <li>Use new and emerging technologies;</li>
    <li>Learn kanji, try sword fighting or go big mountain skiing;</li>
    <li>Be part of a top notch, smart and passionate team;</li>
    <li>Work in a start-up environment and get start-up benefits;</li>
    <li>Join a company that encourages you and supports building your ideas;</li>
    <li>Eat chocolate;</li>
</ul>
Then this might be the place for you!
<br><br>
Contact us at careers@stonesouptech.com or visit our website. (<a href="http://www.stonesouptech.com/">www.stonesouptech.com/</a>)
