With over 15 years of experience in software development and consultancy, Tremend proved its engineering DNA by successfully delivering high-grade projects for major telecom operators, automotive companies, retailers, banking institutions, and the healthcare industry.
<br><br>

Tremend was founded by Romanian software developers with Silicon Valley experience and has over 400 highly skilled software engineers who graduated from top technical universities, with recognized results, experimenting with the latest technologies in our Tremend Labs and helping customers overcome technical challenges.

<br><br>
The company leverages the most innovative and latest technologies, from AI and IoT to Machine Learning and Microservices. The developed solutions have reached over 60 million users, standing proof of a strong software engineering team and organizational culture.
<br><br>
Tremend is featured among the fastest-growing tech companies in the region in the Deloitte Technology Fast 500 EMEA and FT 1000 rankings and received the Impact Star award by Deloitte Technology Fast 50 CE in 2020 for its commitment to innovation and its positive impact on society.
<br><br>

Located in Bucharest - one of the most dynamic technology hubs in Eastern Europe - Tremend specializes in the following areas:
Enterprise platforms:
<ul>
    <li>Customer Care architectures, Omnichannel Customer Experience</li>
    <li>Enterprise Content Management, Web-based communication and collaboration, Digital Marketing, Front-End/Web modernization, Mobile Apps</li>
    <li>Financial Systems, ePayment, Onboarding</li>
    <li>eCommerce & Marketplaces, CRM, eLearning</li>
</ul>
Advanced engineering and technologies:
<ul>
    <li>AI; ML; Risk, fraud and anomaly detection; Chatbots; Biometrics</li>
    <li>ADAS & Functional Safety, LPWAN connectivity</li>
    <li>IoT for industry 4.0, End-to-end IoT solutions</li>
    <li>Embedded software, Microservices, Blockchain, Multimedia</li>
    <li>DevOps, Cloud</li>
</ul>
